<div class="footer">
    <div class="duck" *ngIf="showduck">
        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;,~~.<br>
        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;( &nbsp; 6&nbsp; )-< <t>..Hi!</t> <br>
            &nbsp; &nbsp;(\___ )==-´<br>
            &nbsp; &nbsp;&nbsp;\ &nbsp;. &nbsp; &nbsp;) &nbsp;&nbsp;)<br>
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;\ `&nbsp;-' &nbsp;/<br>
            ~'`~'`~'`~'`~'`~
            <div class="egg-container">
                <img class="egg" src="../../../assets/icons/egg.png" alt="Easter Egg" width="20">
                <span class="eggtext">Easter Egg</span>
            </div>
    </div>
    <p>Designed with
        <img src="../../../assets/icons/health.svg" width="10" alt="Love" (click)="duck()">
        by González Victor Juan for developers
    </p>
</div>