$bs-white: #ffffff;
$bs-white-rgb: 255, 255, 255;

$bs-light: #f8f6f2;
$bs-light-rgb: 248, 246, 242;

$bs-primary: #4fc9da;
$bs-primary-rgb: 79, 201, 218;

$bs-secondary: #dad3c3;
$bs-secondary-rgb: 218, 211, 195;

$bs-success: #b8d935;
$bs-success-rgb: 184, 217, 53;

$bs-info: #4f55da;
$bs-info-rgb: 79, 85, 218;

$bs-warning: #e8c444;
$bs-warning-rgb: 232, 196, 68;

$bs-danger: #f06445;
$bs-danger-rgb: 240, 100, 69;

$bs-dark: #211f1c;
$bs-dark-rgb: 33, 31, 28;
